* {
    color: var(--text);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
}

.container {
    width: max-content;
    height: max-content;
    margin-top: 100px;
    background-color: var(--accent1);
    color: var(--text);
    border-bottom: solid var(--accent2);
    padding: 40px;
    text-align: center;
}

form input {
    background: none;
    background-color: rgba(100, 100, 100, 0.25);
    border: none;
    border-bottom: solid var(--accent2);
    color: var(--text);
    padding: 5px;
}