* {
    color: var(--text);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;
}

.container {
    width: max-content;
    height: max-content;
    background-color: var(--accent1);
    color: var(--text);
    border-bottom: solid var(--accent2);
    padding: 40px;
    text-align: center;
}

button, input, textarea {
    background: none;
    background-color: rgba(100, 100, 100, 0.25);
    border: none;
    border-bottom: solid var(--accent2);
    color: var(--text);
    padding: 5px;
    transition: all 250ms;
    transition-timing-function: ease;
}

button:hover, input:hover, textarea:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 400%;
}

h2 {
    margin-top: 100px;
    border-top: solid var(--accent2);
    font-size: 200%;
}

h3 {
    margin-top: 25px;
}