.PJbody {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
}

.PJhead {
    grid-column: 1;
    grid-row: 1;
    border-bottom: solid var(--accent2);
}

.PJhead>h1 {
    color: var(--accent2);
    width: 100%;
    border-bottom: solid var(--accent2);
    margin: 0;
    font-family: GoodTimes;
}

.PJhead>p {
    color: var(--text);
    font-size: 125%;
}

.PJlinks {
    width: 100%;
}

.DownloadLinks, .ExternalLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.DownloadLinks > a, .ExternalLinks > a {
    margin: 5px;
    font-family: GoodTimes;
    text-align: center;
    border-bottom: solid var(--accent2);
    background-color: var(--accent1);
    padding: 30px;
    margin: 10px;
    font-size: 150%;
    transition: 100ms ease;
}

.DownloadLinks > a {
    width: calc(100%/3);
}

.PJlinks > a:hover {
    transform: scale(1.05);
}

.PJmain {
    grid-column: 1;
    grid-row: 2;
}

.PJmain>h1 {
    font-family: GoodTimes;
    color: var(--accent2);
    margin-top: 40px;
}

.PJside {
    grid-column: 2;
    grid-row: 1/3;
}

.CLcard {
    background-color: var(--accent4);
    position: relative;
    height: min-content;
    min-height: 100px;
}

.CLtitle {
    position: absolute;
    width: 60%;
    color: var(--accent2);
    padding: 10px 10px 10px 0;
    border-bottom: solid var(--accent2);
    margin: 0 0 0 10px;
    font-family: GoodTimes;
}

.CLdate {
    position: absolute;
    width: 40%;
    color: var(--accent2);
    padding: 10px 0 10px 10px;
    border-bottom: solid var(--accent2);
    right: 0;
    margin: 0 10px 0 0;
    text-align: right;
    font-family: GoodTimes;
}

.CLdescription {
    box-sizing: border-box;
    padding: 70px 10px 10px 10px;
    color: var(--text);
}

.CLlist {
    box-sizing: border-box;
    padding: 0 10px 10px 30px;
    color: var(--text);
}