.PJbody {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
}

.PJhead {
    grid-column: 1;
    grid-row: 1;
    border-bottom: solid var(--accent2);
}

.PJhead>h1 {
    color: var(--accent2);
    width: 100%;
    border-bottom: solid var(--accent2);
    margin: 0;
    font-family: GoodTimes;
}

.PJhead>p {
    color: var(--text);
    font-size: 125%;
}

.PJlinks {
    display: flex;
    justify-content: center;
}

.PJlinks>a {
    margin: 5px;
    font-family: GoodTimes;
    border-bottom: solid var(--accent2);
    background-color: var(--accent1);
    padding: 30px;
    margin: 20px;
    font-size: 150%;
    transition: 100ms ease;
}

.PJlinks>a:hover {
    transform: scale(1.05);
}

.PJmain {
    grid-column: 1;
    grid-row: 2;
}

.PJmain>h1 {
    font-family: GoodTimes;
    color: var(--accent2);
    margin-top: 40px;
}

.PJside {
    grid-column: 2;
    grid-row: 1/3;
}