form {
    width: max-content;
    height: max-content;
    margin: auto;
    margin-top: 250px;
    background-color: var(--accent1);
    color: var(--text);
    border-bottom: solid var(--accent2);
    padding: 40px;
}

form input {
    background: none;
    background-color: rgba(100, 100, 100, 0.25);
    border: none;
    border-bottom: solid var(--accent2);
    color: var(--text);
    padding: 5px;
}